@use "./partials/variables" as *;
@import "~bootstrap/scss/bootstrap";

nav {
    a {
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #464646;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            text-underline-offset: 63px;
            text-decoration: underline 6px $primary-color;
            color: $primary-color;
        }
    }
}

.footer-nav {
    background-image: url("/img/footer-bg.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    width: 50%;
}

.container-footernav {
    height: 450px;
}

.footer-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: #71776e;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
.bg-footer {
    overflow: hidden;
    img {
        width: 563px;
        overflow: hidden;
        object-position: 0 -76px;
    }
}

.jumbotron {
    background-image: url("/img/jumbotron.jpg");
    background-position: top center;
    background-size: cover;
    height: 400px;
}

.comics {
    background-color: #1c1c1c;
    .cont-cards {
        span {
            background-color: $primary-color;
            padding: 10px 50px;
            margin-top: 35px;
            margin-bottom: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        position: relative;
    }
    .showtitle {
        position: absolute;
        top: -40px;
        left: -5px;
        background-color: $primary-color;
        padding: 10px 18px;
    }
}

.cover {
    width: 187px;
    height: 187px;
}

.comic-card {
    max-width: 200px;
}

.items-dc {
    background-color: $primary-color;
}

.itemdc {
    img {
        width: 55px;
    }
}

.smalldc {
    width: 40px !important;
}

.footer-bottom {
    background-color: #303030;
}

.call-to-action {
    a {
        color: white;
        text-decoration: none;
        border: 2px solid $primary-color;
        padding: 15px;
        font-weight: bold;
    }
}

.cont-fbottom {
    padding: 50px;
}

.social {
    img {
        margin-left: 1rem;
    }
    span {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.comic-card {
    &:hover {
        a {
            color: $primary-color;
            transition: 0.2s;
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.blue-divider {
    height: 100px;
    background-color: $primary-color;
    .container {
        position: relative;

        img {
            position: absolute;
            top: -170px;
            width: 166px;
        }
    }
}

.price {
    padding:10px;
    background-color: #55ba59;
    color:white;
    max-width: 900px;
}

.bmg1 {
    border-bottom:1px solid #e6e6e6
}

.btg1 {
    border-top:1px solid #e6e6e6
}

.info-scomic {
    color:#205ead;
}

.sub-content {
    color:black;
}

@media screen and (max-width: 992px) {
    .links {
        width: 100%;
    }
}

@media (max-width: 1400px) and (min-width: 1199.98px) {
    .col5 {
        flex: 0 0 auto;
        width: 20%;
    }
}
